<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Agenda</title>
</head>

<body>

	<h1>Login</h1>

	<form action="submit" method="POST">{% csrf_token %}
		<div align="center">
			<label>Usuário:</label>
			<input type="text" name="username">
			<p><label>Password:</label>
			<input type="password" name="password"></p>
			<button type="submit">Entrar</button>
		</div>
	</form>

	{% for message in messages %}
		<div align="center">
			<p>
			<strong>Erro! </strong>{{ message }}
			</p>
		</div>
	{% endfor %}

</body>

</html>